/*estilos utilizando elementos html*/
body{
    background-color: rgb(207, 207, 207)
}

h1 {
    /*propiedades*/
    text-align: center;
    color: rgb(228, 3, 3);
}

h2{
    color: rgb(20, 163, 116);

}
/*selector de clase*/
